:root {
  --white: #ffffff;

  --bg-color: #014050;
  --text-color: #f5efee;

  --switch-on-color: #fff1cc;
  --switch-off-color: var(--text-color);

  --alarm-disarmed-color: #8bc34a;
  --alarm-armed-color: #ffa726;

  --tile-bg-color: rgba(132, 122, 116, 0.1);

  --modal-bg-color: rgba(2, 40, 49, 1);
}

* {
  font-family: "Rubik", "Ubuntu", "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  font-size: 13px;
  font-family: "Rubik", "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-color);
}

pre {
  font-size: 13px;
}

a {
  color: var(--alarm-disarmed-color);
}

code,
pre {
  font-size: 0.9em;
  color: var(--alarm-armed-color);
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
