:root {
  --white: #ffffff;

  --bg-color: #014050;
  --text-color: #f5efee;

  --switch-on-color: #fff1cc;
  --switch-off-color: var(--text-color);

  --alarm-disarmed-color: #8bc34a;
  --alarm-armed-color: #ffa726;
}

* {
  font-family: "Rubik", "Ubuntu", "Helvetica Neue", sans-serif;
}

html,
body {
  margin: 0;
  font-size: 13px;
  font-family: "Rubik", "Ubuntu", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Modal {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Modal:focus {
  outline: none;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
